@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    
    font-family: "Roboto", sans-serif;
    
}

main {
    background-color: grey;
}

.ed-content {
    padding: 1em 1em 1em 1em;
    height: 13.5em;
}

.kb-area {
    padding: 3em 1em 3em 1em;
    border: 2px solid black;
}

.kb-row{
    display: flex;    
}

.kb-button{
    margin: 0.2em;
    padding: 1.25em 2em 1.25em 2em;
    text-align: center;
    border: black solid 1px;
    background-color: white;
    border-radius: 0.25em;
    -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.kb-space {
    text-align: center;
    width: 70em;
}

span {
    cursor: default;
}